.container-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.Funzioni {
    display: inline-block;
}

.botton {
    background-color: blue;
    color: antiquewhite;
    border: 15px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.centrato {
    text-align: center;
}

.jumbo-img {
    width: 100%;
}

.testo-proposte {
    display: flex;

}

.spiegazione {
    background-color: aqua;
}

.centrato2 {
    display: inline-block;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.card-header{
        display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.container-piano{
  width: 370px;
    margin: 0 auto;  
}