.container-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.Funzioni {
    display: inline-block;
}

.botton {
    background-color: blue;
    color: antiquewhite;
    border: 15px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.centrato {
    text-align: center;
}

.jumbo-img {
    width: 100%;
}

.testo-proposte {
    display: flex;

}

.spiegazione {
    background-color: aqua;
}

.centrato2 {
    display: inline-block;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.card-header{
        display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.container-piano{
  width: 370px;
    margin: 0 auto;
    justify-content: space-between;  
}
.professionale{
    border: 2px solid;
    width: calc((100% - 20px * 2) / 3);
} 
.container-pacchetti{
    margin: 0 auto;
    width: 800px;
    padding: 30px;
    display: flex;
    gap: 20px;
}
.enterprise-container{
    margin:0 auto;
    width: 800px;
    text-align: center;
    border: 2px solid;
}
.titolo-box{
border: 2px solid;
    width: 800px;
    margin: 0 auto;
}
.contenuto-enterprise{
display: flex;
gap: 20px;
}
.box{
    flex: 3;
    text-align: center;
    padding-top: 20px;
}
.boxleft{
    flex: 7;
    text-align: left;
    padding-left: 20px;
}
